@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
  font-family: "Lato", sans-serif;
}

#intro {
  background: linear-gradient(rgba(#0a0a0a, 0.5), rgba(#0a0a0a, 0.5)),
    url("../img/intro.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

.card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap:10px;
  .card-title{
    font-weight: bold;
  }
  .icon {
    max-width: 100px;
    max-height: 100px;
  }
}

.bloco-1 {
  background-color: #f7ca18;
  color: white;
  .card {
    padding: 30px;
    color: #0a0a0a;
    font-style: italic; 
    font-weight: bold;   
  }
}

.criacao-produtos{
  .card{
    border-color:#f7ca18;
    .card-title{
      text-transform: uppercase;
    }
  }
}
