@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
  font-family: "Lato", sans-serif;
}

#intro {
  background: linear-gradient(rgba(#0a0a0a, 0.5), rgba(#0a0a0a, 0.5)),
    url("../img/intro.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #fff;
}

.btn{
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

.card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap:10px;
  .card-title{
    font-weight: bold;
  }
  .icon {
    max-width: 100px;
    max-height: 100px;
  }
}

.bloco-1 {
  background-color: #f7ca18;
  color: white;
  .card {
    padding: 30px;
    color: #0a0a0a;
    font-style: italic; 
    font-weight: bold;   
  }
}

.criacao-produtos{
  .card{
    border-color:#f7ca18;
    .card-title{
      text-transform: uppercase;
    }
  }
}

.cta-1{
  background: url('../img/hands.png') no-repeat center center, linear-gradient(#0575E6, #021B79) ;
  color: #fff;
}

.producao{
  .card{
    border-color:#f7ca18;
  }
}

.bronzeamento{
  background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url('../img/cta-2.jpg') no-repeat center center/cover;
  color: #fff;
}

.preocupacao{
  .card{
    border-color:#f7ca18;
  }
}

.contato{
  background: linear-gradient(#0575E6, #021B79) ;
  color: #fff;
}